<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="more-text">
                <br>
                <p><a class="dev" href="#">Subscribe</a> to be notified about my Latest Videos!</p>
                <input class="form-control sub-input" type="text" placeholder="email" disabled>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="heading">
                <p (click)="pageRequesteded($event)" class="icon">Client <span class="dev">dev</span></p>
            </div>
        </div>
        
    </div>
    <div class="row bottom">
        <div class="col-xs-6">
            <ul class="something">
                <li><a href="#" (click)="pageRequesteded($event)">About Me</a></li>
                <li><a href="#" (click)="pageRequesteded($event)">dev TV</a></li>
                <li><a href="#" (click)="pageRequesteded($event)">Projects</a></li>
                <li><a href="#" (click)="pageRequesteded($event)">Blog</a></li>
                <li><a href="#" (click)="pageRequesteded($event)">Login</a></li>
                <li><a href="#" (click)="pageRequesteded($event)">Contact</a></li>
            </ul>
        </div>
        <div class="col-xs-6">
            <div class="logos">
                <a href="https://www.linkedin.com/in/antonio-martinez-390915178/" target="_blank"><span class="linked"></span></a>
                <a href="https://www.youtube.com/channel/UCJ8zI7I_lqahVxbI_qopn1A" target="_blank"><span class="youtube"></span></a>
            </div>
        </div>
    </div>
</div>

