<div class="container">
    <div class="row">
            <div class="col-md-4 about-text">
                I am a Front-End Engineer, also known as a Front-End Developer, living in Austin, Texas. I began the process of learning to build websites 5 years ago when I watched a video of how virtual synthesizers were made. I was making music at the time, but when I seen that video I made the decision to learn how it works.</div>
            <div class="col-md-8">
                    <div class="image"></div>
            </div>
    </div>
    <hr>
    <div class="row">
            <div class="col-md-8">
                    <div class="image2"></div>
            </div>
            <div class="col-md-4 about-text">
                    My penultimate goal is to get involved in machine learning to study and help forge the way for the future of AI or AGI. These sytems would help improve the world by doing advanced computation at a faster rate than humans can, thus moving innovation at a faster rate. Also, I picture a system with millions of conditions interacting as humans.
            </div>
    </div>
</div>
    

    
  