<div class="container-fluid">
    <div class="row header">
        <h3>Contact Info</h3>
    </div>
    <div class="row">
        <div class="box">
            <div class="form-group row">
                <label>Resume:</label>
                <li><a href="https://www.docdroid.net/aZ17KnT/resume-1-pdf">Click Here</a></li>
            </div>
            <hr>
            <div class="form-group row">
                <label>Email:</label>
                <p><a href="mailto:antonio.jr.martinez1992@gmail.com">antonio.jr.martinez1992@gmail.com</a></p>
            </div>
            <hr>
            <div class="form-group row last-row">
                <label>Social Links:</label>
                <li><a 
                        href="https://www.linkedin.com/in/antonio-martinez-390915178/" 
                        target="_blank">LinkedIn</a></li>
                <li><a 
                        href="https://github.com/turtleafk"
                        target="_blank">GitHub</a></li>
                <li><a 
                        href="https://twitter.com/antoniomartijr" 
                        target="_blank">Twitter</a></li>
            </div>
                
                
            
        </div>
    </div>
</div>