.container-fluid {
    width: 100vw;
    height: 100vh;
}

.box {
    border: solid 1px rgb(189, 189, 190);
    width: 40vw;
    min-width: 340px;
    margin: 20px auto 0;
    border-radius: 5px;
    padding: 40px;
}

.header {
    width: 100vw;
    margin-top: 80px;
}

h3 {
    text-align: center;
}

.form-group {
    display: flex;
}

p {
    padding-left: 20px;
}

li {
    padding-left: 20px;
    list-style-type: none;
}
