<div class="container" #nav>
    <div class="row">
        <div class="col-xs-12">
            <header>
                <div class="heading">
                    <p (click)="pageRequest($event)" class="icon">Client <span class="dev">dev</span></p>
                </div>
                <div class="translate">
                    <p><a href="#">Translate: French</a></p>
                </div>
                <div class="burger" (click)="toggleNav($event)" #burger>
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
                <nav class="nav">
                    <ul>
                        <li><a href="#" (click)="pageRequest($event)">About me</a></li>
                        <li><a href="#" (click)="pageRequest($event)">Dev TV</a></li>
                        <li><a href="#" (click)="pageRequest($event)">Projects</a></li>
                        <li><a href="#" (click)="pageRequest($event)">Blog</a></li>
                        <div class="drop-down" (mouseover)="dropDown(list)" (mouseleave)="removeDrop()" #dropDown1>More
                            <ul class="drop-list" #list>
                                <li><a href="#" (click)="pageRequest($event)">Login</a></li>
                                <li><a href="#" (click)="pageRequest($event)">Contact</a></li>
                            </ul>
                        </div>
                        <div class="drop-down-mobile" #dropDown2>
                            <li><a href="#" (click)="pageRequest($event)">Contact</a></li>
                            <li><a href="#" (click)="pageRequest($event)">Login</a></li>
                        </div>
                    </ul>
                </nav>
            </header>
        </div>
    </div>
</div>