/*Global*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

.container {
    width: 100vw;
}

a {
    color: rgb(45, 45, 46);
}


/*header*/
header {
    height: 70px;
    background: rgb(255, 255, 255);
}

/*Nav*/
.nav {
    display: flex;
    flex-direction: column;
    background: rgb(255, 255, 255);
    height: 100%;
    width: 300px;
    position: fixed;
    top: 0;
    left: -300px;
    z-index: 3;
    transition: all 0.5s ease;
}

    .active-nav {
        left: 0px;
        transition: all 0.5s ease;
    }

    ul {
        display: flex;
        flex-direction: column;
        font-size: 18px;
        line-height: 60px;
        position: relative;
        top: 180px;
        left: 20%;
        height: 100%;  
    }


.heading {
    height: 100%;
    width: 100%;
}

    h1 {
        font-family: Helvetica, sans-serif;
        font-size: 26px;
        color: rgb(0, 0, 0);
        text-align: center;
        display: flex;
        justify-content: center;
        margin: auto;
        padding-top: 32px;
    }

/*burger div*/

.burger {
    width: 35px;
    height: 30px; 
    position: absolute;
    top: 30px;
    left: 15px;
    cursor: pointer;
    z-index: 4;
}

    .line {
        background: rgb(27, 27, 27);
        border-radius: 3px;
        margin-bottom: 4px;
        width: 30px;
        height: 3px;
        position: relative;
        top: 8px;
        left: 5px;
        transition: all 0.5s;
    }

    .line-1 {
        transform: translateY(4px) rotate(-45deg);
        transition: all 0.5s ease;
    }

    .line-2 {
        opacity: 0;
        transition: all 0.2s;
    }

    .line-3 {
        transform: translateY(-10px) rotate(45deg);
        transition: all 0.5s ease;
    }


