<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <h3>Naughty Dog</h3>
            <a href="https://naughtydog-695ce.firebaseapp.com/"
                target="_blank">
                <div class="image image-1"></div>
            </a>
            <figcaption>I finished the site on December 16th.
                <li>I created a burger menu navigation for mobile devices. </li>
                <li>The site is responsive; I have been working on giving feedback to users through the site and making it super intuitive.</li>
                <li>I made the carousel with JS instead of CSS because I wanted to see what functionality was available to me.</li>
                <li>I enabled swiping and clicking with JavaScript. I also applied an effect when the browser is resized on desktop.</li>
                <li>When I made this, I made it with the thought of someone going to an actual naughty dog site.</li>
                </figcaption>
        </div>
        <div class="col-md-3">
            <h3>Budget App</h3>
            <a href="https://budget-app-ea94c.firebaseapp.com/">
                <div class="image image-2"></div>
            </a>
            <figcaption>
                This is another current project which I will finish after the Recipe App
                <li>I did this project in July because it was something I wanted to crank out quickly, so I didn't focus on site responsiveness. Eventually, I came back to it with the intention of fixing it only to find that I deleted all the files to the project.</li>
                Things to fix are:
                <li>The format of the list items look bad when expense/income names are too long causing the name to shift on top of the digits.</li>
                <li>The site is not responsive at all towards small devices.</li>
                <li>The design was done very poorly.</li>
            </figcaption>
        </div>
        <div class="col-md-3">
            <h3>Recipe App</h3>
            <a href="https://recipe-fd72e.firebaseapp.com/">
                <div class="image image-3"></div>
            </a>
            <figcaption>
                This is the project I am currently working on.
                <li>I recently finished the incrementing algorithm and I am currently redesigning the page before I continue</li>
                <li>I still need to add buttons to add all and individual ingredients to the shopping list, as well as, deleting from the shopping list.</li>
                <li>I also need to make this responsive as well.</li>
            </figcaption>
        </div>
    </div>
</div>