<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="project-header">
                <h2>Projects</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="main-content">
                <div class="project-photo" [style.background-image]="mainImage"></div>
                <div class="project-info">
                    <h3>{{ title }}</h3>
                    <!--details and link with info about project-->
                    <li *ngFor="let y of details">
                        - {{ y }}
                    </li>
                    <div class="link">
                       <a href="{{ siteUrl }}" target="_blank">Visit Website</a> 
                    </div>
                    <!--use ngIf to determine if I should display items-->
                    <p>
                        <span class="span-logo-html"></span>
                        <span class="span-logo-css"></span>
                        <span class="span-logo-js"></span>
                        <span class="span-logo-bs" #something1></span>
                        <span class="span-logo-ng" #something2></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="flex-container" #projects>
                <app-project
                    (click)="displayProject($event)"
                    class="project" 
                    *ngFor="let x of basicProjectData; let i = index" 
                    [attr.data-index]="i"
                    [data]="x"></app-project>
            </div>
        </div>
    </div>
</div>