<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-nav (pageClicked)="pageNamed($event)"></app-nav>
    </div>
  </div>
  <div class="row">
    <div 
        class="col-md-12" 
        *ngIf="!notLoaded || page === 'home'">
        <app-home></app-home>
    </div>
  </div>
  <div class="row">
    <div 
        class="col-md-12" 
        *ngIf="page === 'about'">
        <app-about></app-about>
    </div>
  </div>
  <div class="row">
    <div 
        class="col-md-12" 
        *ngIf="page === 'portfolio'">
        <app-portfolio></app-portfolio>
    </div>
  </div>
  <div class="row">
    <div 
        class="col-md-12" 
        *ngIf="page === 'blog'">
        <app-blog></app-blog>
    </div>
  </div>
  <div class="row">
    <div 
        class="col-md-12" 
        *ngIf="page === 'contact'">
        <app-contact></app-contact>
    </div>
  </div>
</div>

  