* {
    padding: 0;
    margin: 0;
    color: white;
}

.container {
    width: 100%;
}

.blog {
    border-radius: 3px;
    width: 80%;
    height: 40px;
    margin: 20px 0 0;
    display: flex;
}

hr {
    width: 80%;
}

.title {
    flex: 2;
    cursor: pointer;
}

.title:hover {
    text-decoration: underline;
}

.cat, .date {
    flex: 1;
}

.holdy {
    margin-top: 10px;
    font-size: 20px;
    color: rgb(177, 177, 111);
}

@media (max-width: 1050px) {
    .blog {
        width: 100%;
    }

    .blog-area {
        width: 100%;
    }

    hr {
        width: 100%;
    }
 }