* {
    padding: 0;
    margin: 0;
    font-size: 1.7rem;
    -webkit-font-smoothing: antialiased;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
}

.container {
    background: rgb(0, 0, 0);
    width: 1700px;
    height: auto;
    margin: auto;
}

.search {
    width: 85%;
    max-width: 600px;
    padding: 20px;
    height: 140px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
    opacity: 1;
    animation: grow1a 0.8s ease;
}

.search-bar {
    display: flex;
    gap: 20px;
}

@keyframes grow1a {
    from {
        width: 0px;
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    to {
        width: 500px;
        opacity: 1;
    }
}

    label {
        color: rgb(255, 255, 255);
    }

    button {
        padding: 4px;
        width: 60px;
    }

    /**/
nav {
    opacity: 1;
    animation: grow2a 0.5s ease;
    min-width: 150px;
}

@keyframes grow2a {
    from {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.categories, .filter {
    padding: 20px;
}

li {
    list-style-type: none;
    padding: 10px 0 0 10px;
}

h4 {
    color: rgb(255, 255, 255);
    font-size: 22px;
    cursor: default;
}

a {
    color: rgb(255, 255, 255);
}


/**/
.labels {
    color: white;
    display: flex;
    width: 80%;
}

.title {
    flex: 2;
}

.cat {
    flex: 1;
}

.date {
    flex: 1;
}

/*main area*/
.main {
    display: flex;
}

nav {
    flex: 1;
}

.list {
    flex: 4;
}

@media (max-width: 1720px) {
    .container {
        width: 90%;
    }
}

@media (max-width: 1050px) {
   .main {
       flex-direction: column;
       width: 100%;
   }

   nav {
        display: flex;
        width: 80%;
        margin: auto;
        justify-content: center;
   }

   .list {
       flex: 1;
       margin: auto;
       width: 80%;
   }

   .labels {
       width: 100%;
   }

   li {
       padding: 10px 0 0 10px;
       font-size: 8px;
   }
}