* {
    padding: 0;
    margin: 0;
}

.container {
    height: 100vw;
    width: 100%;
}

.img {
    background: url('/assets/images/image-3.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    height: 60vh;
    width: 80%;
    margin: auto;
}

.tint {
    background: rgba(0, 0, 0, 0.103);
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
}

.coffee {
    position: relative;
    top: 200px;
    left: 35vw;
    color: white;
    background: rgba(0, 0, 0, 0.274);
    padding-left: 20px;
    border-radius: 3px;
}